.grid_container{
    height: 600px;
}

.first_grid{
    height: 300px;
    display: flex;
    
}

.product_1{
    width: 25%;
    background:linear-gradient( rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.5)100%), url("../../assets/product-1.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}
.product_2{
    width: 25%;
    background:linear-gradient( rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.5)100%), url("../../assets/product-2.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}
.product_3{
    width: 25%;
    background:linear-gradient( rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.5)100%), url("../../assets/product-3.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}
.product_4{
    width: 25%;
    background: linear-gradient( rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.5)100%), url("../../assets/product-4.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}

.product_name{
    position: absolute;
    top: 85%;
    left: 10%;
}

.product_name p{
    color: white;
    font-size: 23px;
    font-family: "Baskervville", serif;
}

.second_grid{
    display: flex;
    height: 300px;
}

.second_grid_left{
    width: 50%;
    background: linear-gradient( rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.5)100%), url("../../assets/man.webp");
    background-position: center;

}

.second_grid_right{
    width: 50%;
    background: linear-gradient( rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.5)100%), url("../../assets/Duftkerzen.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}